/*Style pour l'entête */
#entete{
    
    background-image: linear-gradient(90deg, #CAB19B, #1B4B43);
    min-height: 1vh;
    position: sticky;
    top:0;
    z-index: 10;
}
/* Espacer le contenu*/
#entete header{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    
}

#logo{
    height: 20vh;
}